@font-face {
	font-family: 'SourceHanSansCN';
	src: url('fonts/SourceHanSansCN-Bold.otf') format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: 'Segoe UI Emoji';
	src: url('fonts/seguiemj.ttf') format('truetype');
}

@font-face {
	font-family: 'Torus';
	src: url('fonts/Torus-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Torus';
	src: url('fonts/Torus-SemiBold.otf') format('opentype');
	font-weight: 600;
}
